body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 68, 87);
  }
  h1{
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  canvas {
    position: absolute;
  }
